
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center; 
    min-height: 100vh;
    }
   .bu{
    display: flex;
    padding: 20 1px;
    align-items: center;
    justify-content: center;
    }
    .box{
        border: 3px solid black;
        border-radius: 20px;
    }
@media (max-width: 750px) {
    .lap{
        display: none;
        }
        .click{
        width: 200px;
        height: 100px;
        }
}

@media (min-width: 751px) {
    .mob{
        display: none;
        }
    .lap{
        width: 800;
        height: 500;
        box-sizing: cover;
        }
        .click{
        width: 600px;
        height: 200px;
        }
}
.click:hover{
        transform: scale(0.89);
    }

marquee{
    color: #ff80f1;
    font-size: 20px;
    background-color: #0000008d;
}
